body {
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 2s ease-in-out;
}

th {
  font-weight: bold;
  border-bottom: 1pt solid black;
  border-right: 1pt solid black;
}
.transparent-table {
  background: transparent;
}

#no-data-message {
  font-weight: bold;
  font-size: large;
  display: block;
}